.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem;
  font-size: 1.05rem;
}

.footer a {
  margin-right: 16px;
}
.footer a:last-child {
  margin-right: 0px;
}
