.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  margin: 1rem;
  font-size: 1.05rem;
}

.footer a {
  margin-right: 16px;
}
.footer a:last-child {
  margin-right: 0px;
}

@media only screen and (min-width: 2160px) {
  .footer a {
    font-size: 20px;
  }
}
