.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  font-size: 1.05rem;
  padding-top: 24px;
  border-top: 1px solid grey;
}

.footer a {
  margin-right: 12px;
}
.footer a:last-child {
  margin-right: 0px;
}
.slideup {
  font-size: 12px;
}
@media only screen and (max-width: 720px) {
  .slideup {
    display: none;
  }
}
