.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;

  /* background: #513b56; */
}

.logo {
  display: flex;
  font-size: 16px;
  white-space: nowrap;
}

.web {
  display: flex;
  align-self: center;
}

.web_option {
  margin-right: 16px;
}

.web_option a {
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.web_option:last-child {
  margin-right: 0px;
}

@media only screen and (max-width: 720px) {
  .header {
    padding: 0 5%;
  }
  .logo {
    display: none;
    font-size: 16px;
  }
}
