.header {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  flex: 1;
  background: #ffffff;
  top: 0;
  left: 0;
  z-index: 5;
  z-index: 5;
  width: 100%;
  height: 4rem;
  padding: 0 10%;
}

.logo {
  display: flex;
}

.web {
  display: flex;
  align-self: center;
}

.web_option {
  margin-right: 16px;
}

.web_option a {
  display: flex;
  align-items: center;
}

.web_option:last-child {
  margin-right: 0px;
}

@media only screen and (max-width: 720px) {
  .logo {
    display: none;
  }
  .web {
    padding: 0 10%;
  }
}
