.header {
  font-weight: 600;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 0 10%;
  position: relative;
}

.logo {
  display: flex;
}

.web {
  display: flex;
  align-self: center;
}

.web_option {
  margin-right: 16px;
}

.web_option a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.web_option:last-child {
  margin-right: 0px;
}

@media only screen and (max-width: 720px) {
  .header {
    display: flex;
    flex-direction: column;
    height: 3rem;
    margin-bottom: 3rem;
  }
}
