.form {
  margin: 3rem auto;
  max-width: 50rem;
}
.name {
  display: flex;
}

.control {
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  color: white;
  background-color: #404040;
  font-size: 18px;
  font-family: "Inter";
  border-radius: 4px;
  border-style: solid;
  border: 1px solid rgba(255, 255, 255, 0.25);
  display: block;

  padding: 0.6rem;
  width: 100%;
  resize: none;
}

.control input::placeholder,
.control textarea::placeholder {
  color: #b3b3b3;
  font-family: "Inter";
}

.control input:focus,
.control textarea:focus {
  background-color: #383838;
  outline: none;
}
.actions {
  margin-top: 1rem;
  text-align: right;
}
.hidden {
  display: none;
}
