.about_top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about_info {
  white-space: nowrap;
  font-size: 18px;
  margin-top: 2rem;
}

.job_title {
  background: linear-gradient(to top, rgb(167, 243, 208), transparent 50%);
}
.info_name {
  font-size: 32px;
}
.picture {
  height: 420px;
}

.hero_buttons {
  display: flex;
  align-items: center;
  margin-top: 24px;
  user-select: none;
}
.resume_button {
  margin-left: 12px;
  user-select: none;
}

@media only screen and (max-width: 720px) {
  .about_top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture {
    margin-top: 24px;
    height: 280px;
  }
}
