.about_top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about_info {
  white-space: nowrap;

  margin-top: 2rem;
  font-size: 24px;
}

.info_name {
  color: #dbffa2;
  font-size: 32px;
}
.picture {
  height: 420px;
}

.hero_buttons {
  display: flex;
  align-items: center;
  margin-top: 24px;
  user-select: none;
}
.resume_button {
  flex: 1;
  margin-left: 12px;
  color: #00a699;
  border-color: #00a699;
  user-select: none;
}

.resume_button:hover {
  border-color: #00a699;
}

@media only screen and (max-width: 720px) {
  .about_top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture {
    margin-top: 24px;
    height: 280px;
  }
}
