.footer {
  padding: 1rem;
  margin: 3rem auto;
  max-width: 40rem;
}

.footer ul {
  display: flex;
  list-style: none;
  font-family: "Nunito", "Sans-Serif";
  font-size: 1.05rem;
}

.footer li {
  margin-left: 2rem;
}
