.footer {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.footer ul {
  list-style: none;
  display: flex;
  align-items: baseline;
}

.footer li {
  font-size: 1.3rem;
  margin-left: 2rem;
}
