.project_photo {
  width: 100%;
}

.project_info {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 15px;
  margin-top: 12px;
}

.project_title {
  font-size: 20px;
  font-weight: 600;
}

.project_tag {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  padding: 4px 8px;
  background: linear-gradient(to bottom, transparent 50%, aquamarine 50%);
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
}

.project_link {
  margin-top: 6px;
  display: flex;
}

.link_button {
  display: flex;
  justify-content: center;
  align-content: center;
  background: linear-gradient(to bottom, transparent 50%, #ffd0ae 50%);
  width: max-content;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 6px;
}

.link_button i {
  display: flex;
  align-items: center;
  margin-right: 4px;
}
