.project_photo {
  width: 100%;
}

.project_info {
  padding: 12px;
  margin-top: 12px;
  font-size: 18px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 105, 95, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.project_title {
  font-size: 24px;
  font-family: "Assistant";
}

.project_tag {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  font-size: 16px;
  font-weight: bold;
  color: #00100d;
  background-color: #fdffc4;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
}

.project_link {
  margin-top: 6px;
  display: flex;
}

.link_button {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  color: #00100d;
  background-color: #fdffc4;
  width: max-content;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 6px;
}

.link_button i {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.link_button:hover {
  background-color: #e0e2b6;
}
