html,
body {
  scroll-behavior: smooth;
  background-color: #9a9bc1;
  color: white;
  font-family: "Montserrat", "sans-serif";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-size: 1.2rem;
  font-family: "nunito";
  cursor: pointer;
  background-color: #8338ec;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #8338ec;
  border-radius: 4px;
  font-weight: bold;
}

button:hover {
  background-color: #3c096c;
  border-color: #3c096c;
}
