* {
  box-sizing: border-box;
}

/* ::selection {
  background: #666;
} */

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Inter";
  font-weight: 200;
  scroll-behavior: smooth;
  background-color: #2b2a33;
  background-size: cover;
}

p {
  font-family: "Assistant";
}

a {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
}

button {
  font-family: "rubik";
  min-width: 10rem;
  white-space: nowrap;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  background-color: inherit;
  color: #dbffa2;
  padding: 1rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 25px;
}

button:hover {
  border: 1px solid #dbffa2;
}
