* {
  box-sizing: border-box;
}

body {
  color: #dbffa2;
  font-family: "Inter";
  scroll-behavior: smooth;
  background-color: #383838;
  background-image: url("https://raw.githubusercontent.com/WebDevBernard/Portfolio/abc9783052f8f9e2bb3a15a8205de9c73109f842/docs/Simple%20Shiny(1).svg");
  // background-image: url("../docs/Simple Shiny(1).svg");
  background-size: cover;
}

p {
  color: #dbffa2;
  font-family: "Assistant";
}

a {
  font-family: "Inter";
  color: #dbffa2;
  text-decoration: none;
}

button {
  min-width: 10rem;
  white-space: nowrap;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ff7750;
  color: #dbffa2;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #bd4d2e;
  border-color: #bd4d2e;
}
