* {
  box-sizing: border-box;
}

body {
  color: #dbffa2;
  font-family: "Inter";
  scroll-behavior: smooth;
  background-color: #484848;
  background-image: url("https://raw.githubusercontent.com/WebDevBernard/Portfolio/c28a9c2c4aec2492b7c0bdd48d9b7a0b28410c38/docs/Simple%20Shiny.svg");
  // background-image: url("../docs/Simple Shiny.svg");
  background-size: cover;
}

p {
  color: #dbffa2;
  font-family: "Assistant";
}

a {
  font-family: "Inter";
  color: #dbffa2;
  text-decoration: none;
}

button {
  min-width: 10rem;
  white-space: nowrap;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ff7750;
  color: #dbffa2;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #bd4d2e;
  border-color: #bd4d2e;
}
